{% load static%}
<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<head>


    <meta charset="utf-8">
    <title>Home</title>


    <link rel="canonical" href="index.html" />
    <meta property="og:title" content="Home" />
    <meta property="og:url" content="index.html" />
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'mt-includes/css/assets.minbfc2.css' %}" />
    <style>
        @import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic|Poppins:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic&amp;subset=latin);
    </style>
    <link rel="stylesheet" href="{% static 'mt-demo/79800/79832/mt-content/assets/styles6512.css' %}"
        id="moto-website-style" />
       

</head>

<body class="moto-background moto-website_live">

    <div class="page">
        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                data-widget="block" data-spacing="saaa" style="" data-bg-position="left top">


                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                data-bg-position="left top">


                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">

                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="sasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_1"><a target="_self" href="{% url 'index' %}"
                                                            data-action="page" data-id="1" class="moto-link"><span
                                                                class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero"
                                                                data-widget="motoimagewidget"><span
                                                                    class="moto-content-image-container"><img
                                                                        class="moto-content-image"
                                                                        data-path="{% static '2019/04/mt-1802-logo.png' %}"
                                                                        data-id="358" alt="" width="52" height="56"
                                                                        src="{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-logo.png' %}"></span></span></a><a
                                                            data-action="page" data-id="1" class="moto-link"
                                                            href="{% url 'index' %}">Blood4life</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-grid-type="sm" data-widget="row" data-spacing="aasa" style=""
                                                data-bg-position="left top">


                                                <div class="container-fluid">
                                                    <div class="row" data-container="container">


                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="{% static '2019/04/mt-1802-header-icon01.png' %}"
                                                                                    data-id="376" alt="" width="33"
                                                                                    height="34"
                                                                                    src="{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-header-icon01.png' %}"></span></span><a
                                                                            data-action="call" class="moto-link"
                                                                            href="tel:1234567890">+91 97345 56789</a>
                                                                    </p>
                                                                    <p class="moto-text_system_13"><a data-action="mail"
                                                                            class="moto-link"
                                                                            href="mailto:Info@demolink.org">blood4life@gmail.com</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="{% static '2019/04/mt-1802-header-icon02.png' %}"
                                                                                    data-id="375" alt="" width="33"
                                                                                    height="33"
                                                                                    src="{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-header-icon02.png' %}"></span></span>B-201
                                                                        Radhe complex, Maninagar, Ahmedabad</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            style="" data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="{% static '2019/04/mt-1802-header-icon03.png' %}"
                                                                                    data-id="377" alt="" width="33"
                                                                                    height="33"
                                                                                    src="{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-header-icon03.png' %}"></span></span>9:00
                                                                        - 18:00</p>
                                                                    <p class="moto-text_system_13">Monday - Friday</p>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div class="moto-widget moto-widget-container moto-container_header_5ab17a9c1"
                                data-widget="container" data-container="container"
                                data-css-name="moto-container_header_5ab17a9c1" data-bg-position="left top"
                                data-moto-sticky="{ }">



                                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                    data-bg-position="left top">


                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                style="" data-widget="row.column" data-container="container"
                                                data-spacing="aaaa" data-bg-position="left top">


                                                <div class="moto-widget moto-widget-container moto-container_header_5ab17aaf2"
                                                    data-widget="container" data-container="container"
                                                    data-css-name="moto-container_header_5ab17aaf2"
                                                    data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                        data-grid-type="sm" data-widget="row" data-spacing="aaaa"
                                                        style="background-image:url({% static 'mt-demo/79800/79832/mt-content/uploads/2018/05/mt-1802-line-menu.jpg' %});background-position:left top;background-repeat:repeat-x;background-size:auto;"
                                                        data-bg-position="left top"
                                                        data-bg-image="{% static '2018/05/mt-1802-line-menu.jpg' %}/index.html">


                                                        <div class="col-xl-12">
                                                            <div class="row" >


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    style="" data-widget="row.column"
                                                                    data-container="container" data-spacing="aaaa"
                                                                    data-bg-position="left top">                                
                                                                    
                                                                    <div data-widget-id="wid_1521580712_34yfou2bm"
                                                                        class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                        data-preset="default" data-widget="menu">
                                                                        <a href="#"
                                                                            class="moto-widget-menu-toggle-btn"><i
                                                                                class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                                                        <ul
                                                                            class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'index' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'donateblood' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 donate" >DONATE
                                                                                    BLOOD</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'donorcenter' %}" 
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 location">LOCATIONS</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'appointment' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 appointment">APPOINTMENT</a>
                                                                            </li>

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'supportus' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 supportus">SUPPORT
                                                                                    US</a>

                                                                            </li>

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'aboutus' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link aboutus">ABOUT
                                                                                    US</a>
                                                                            </li>

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'contactus' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link contactus">CONTACT
                                                                                    US</a>
                                                                            </li>
                                                                            {% if not request.session.user %}
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'signup' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link account">ACCOUNT</a>
                                                                            </li>

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'login' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link login">LOGIN</a>
                                                                            </li>

                                                                            {% else %}

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="{% url 'logout' %}"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link logout">LOGOUT</a>
                                                                                {% endif %}
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="animation start-home"></div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    style="" data-widget="row.column"
                                                                    data-container="container" data-spacing="aaaa"
                                                                    data-bg-position="left top">


                                                                    <div data-widget-id="wid_1555237980_e89ar4vjr"
                                                                        class=" moto-widget moto-widget-button moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                                        data-widget="button">
                                                                        <a href="https://paytm.me/VsiN-m3"
                                                                            data-action="page"
                                                                            class="moto-widget-button-link moto-size-small moto-link"><span
                                                                                class="fa moto-widget-theme-icon"></span>
                                                                            <span
                                                                                class="moto-widget-button-label">Donate</span></a>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--new-->

        {% block content %}
        {% endblock %}











        <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-bg-color_custom1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                data-widget="block" data-spacing="aama" style="" data-bg-position="left top">


                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div data-widget-id="wid_1521639569_xmcn1jypx"
                                class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto "
                                data-widget="spacer" data-preset="default" data-spacing="mama"
                                data-visible-on="mobile-v">
                                <div class="moto-widget-spacer-block" style="height:10px"></div>
                            </div>
                            <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                data-grid-type="sm" data-widget="row" data-spacing="aasa" style=""
                                data-bg-position="left top">


                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="aama"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_1"><a target="_self" data-action="page"
                                                            data-id="1" class="moto-link" href="index.html"><span
                                                                class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero"
                                                                data-widget="motoimagewidget"><span
                                                                    class="moto-content-image-container"><img
                                                                        class="moto-content-image"
                                                                        data-path="{% static '2019/04/mt-1802-logo02.png' %}"
                                                                        data-id="359" alt="" width="52" height="56"
                                                                        src="{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-logo02.png' %}"></span></span></a><a
                                                            target="_self" data-action="page" data-id="1"
                                                            class="moto-link" href="index.html"><span
                                                                class="moto-color5_5">Blood4life</span></a></p>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="amma"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_206"><span class="moto-color5_5">Blood4life is a
                                                            not-for-profit charitable trust which provides “lifesaving
                                                            services” through
                                                            access to safe blood.</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div data-widget-id="wid_1521639806_u4s3ok2kc"
                                                class="moto-widget moto-widget-divider moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                data-widget="divider_horizontal" data-preset="2">
                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:40px;">
                                            </div>
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="aasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_207">Information</p>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="aasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <ul>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="1" class="moto-link" href="{% url 'index' %}">Home</a>
                                                        </li>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="10" class="moto-link"
                                                                href="{% url 'donateblood' %}">Donate Blood</a></li>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="11" class="moto-link location"
                                                                href="{% url 'donorcenter' %}">Donor center
                                                                locations</a></li>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="12" class="moto-link"
                                                                href="{% url 'appointment' %}">Appointment</a></li>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="14" class="moto-link"
                                                                href="{% url 'supportus' %}">Support us</a></li>
                                                        <li class="moto-text_205"><a target="_self"
                                                                href="{% url 'aboutus' %}" data-action="page"
                                                                data-id="15" class="moto-link">About us</a></li>
                                                        <li class="moto-text_205"><a target="_self"
                                                                href="{% url 'contactus' %}" data-action="page"
                                                                data-id="17" class="moto-link">Contact us</a></li>
                                                        </li>
                                                        <li class="moto-text_205"><a target="_self" data-action="page"
                                                                data-id="13" class="moto-link"
                                                                href="{% url 'signup' %}">Account</a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aaaa" data-bg-position="left top">


                                            <div data-widget-id="wid_1521640094_a4syw1kyc"
                                                class="moto-widget moto-widget-divider moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                data-widget="divider_horizontal" data-preset="2">
                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:40px;">
                                            </div>
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="aasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_207">Contact us</p>
                                                </div>
                                            </div>
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="aasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_251">B-201 Radhe complex,</p>
                                                    <p class="moto-text_251"> Maninagar, Ahmedabad 380008.</p>
                                                    <p class="moto-text_251">&nbsp;</p>
                                                    <p class="moto-text_251">Phone <a data-action="call"
                                                            class="moto-link" href="tel:1234567890">+91 97345 56789</a>
                                                    </p>
                                                    <p class="moto-text_251"><a href="mailto:info@demolink.org"
                                                            data-action="mail" class="moto-link"><span
                                                                class="moto-color_custom4">blood4life@gmail.com</span></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                        data-bg-position="left top" data-draggable-disabled="">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                    style="" data-widget="row.column" data-container="container"
                                                    data-spacing="aaaa" data-bg-position="left top">


                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                        data-widget="text" data-preset="default" data-spacing="aaaa"
                                                        data-animation="" data-draggable-disabled="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <p class="moto-text_251">© 2020 Blood4life&nbsp;<a
                                                                    data-action="page" data-id="23" class="moto-link">All rights
                                                                    reserved</a></p>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </footer>

        <div data-moto-back-to-top-button class="moto-back-to-top-button">
            <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
                <span class="moto-back-to-top-button-icon fa"></span>
            </a>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script>
           
                $(document).ready(function() {

                   

                    var url = $(location).attr('href');
                    var parts = url.split("/");
                    var last_part = parts[parts.length-2];
                    
                   
                    if(last_part == 'donor-center-locations'){

                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.location').addClass('moto-widget-menu-link-active');


                    }else if(last_part == 'appointment'){

                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.appointment').addClass('moto-widget-menu-link-active');

                    }else if(last_part == 'support-us'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.supportus').addClass('moto-widget-menu-link-active');

                    }else if(last_part == 'about-us'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.aboutus').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'contactus'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.contactus').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'signup'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.account').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'login'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.login').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'logout'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.logout').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'donateblood'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.donate').addClass('moto-widget-menu-link-active');
                    
                    }else if(last_part == 'vol'){
                        $('ul li.moto-widget-menu-item a').removeClass('moto-widget-menu-link-active');   
                        $('ul li.moto-widget-menu-item a.supportus').addClass('moto-widget-menu-link-active');
                    }


                    

                
               
            });


        </script>


<script src="{% static 'mt-includes/js/website.assets.mincdef.js' %}" type="text/javascript"
data-cfasync="false"></script>
<script type="text/javascript" data-cfasync="false">
    var websiteConfig = websiteConfig || {};
    websiteConfig.address = "{% static 'index' %}";
    websiteConfig.addressHash = 'f73d5bf3fa0d37bb76bd79b197423702';
    websiteConfig.apiUrl = 'api.json';
    websiteConfig.preferredLocale = 'en_US';
    websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
    websiteConfig.back_to_top_button = { "topOffset": 300, "animationTime": 500, "type": "theme" };
    websiteConfig.popup_preferences = { "loading_error_message": "The content could not be loaded." };
    websiteConfig.lazy_loading = { "enabled": true };
    websiteConfig.cookie_notification = { "enabled": false, "content": "<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>", "content_hash": "6610aef7f7138423e25ee33c75f23279", "controls": { "visible": "close,accept", "accept": { "label": "Got it", "preset": "default", "size": "medium", "cookie_lifetime": 365 } } };
    angular.module('website.plugins', []);
    </script>
    <script src="{% static 'mt-includes/js/website.min1880.js' %}" type="text/javascript"
    data-cfasync="false"></script>
    <script type="text/javascript">$.fn.motoGoogleMap.setApiKey('AIzaSyCPbz3W389x_owB2TlrqPuMEYCTFVuRvMY');</script>

        <script>
            $(document).ready(function(){

                $("#active").click(function(){
                this.addClass("active moto-link");
                });

                });
        </script>

</html>