{% extends "base.html" %}
{% load static %}
{% block content%}
<section id="section-content" class="content page-17 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color_custom4 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
        data-widget="block" data-spacing="lala"
        style="background-image:url(../{% static 'mt-demo/79800/79832/mt-content/uploads/2019/04/mt-1802-content-bg05.jpg' %});background-position:top;background-repeat:no-repeat;background-size:cover;"
        data-bg-image="{% static '2019/04/mt-1802-content-bg05.jpg' %}" data-bg-position="top">
</section>

    <div class="form-row m-b-55">
        <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
            style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
            data-bg-position="left top">


            <div class="moto-widget moto-widget-row moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                data-grid-type="sm" data-widget="row" data-spacing="laaa" style="" data-bg-position="left top">


                <div class="container-fluid">
                    <div class="row" data-container="container">


                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                            style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                            data-bg-position="left top">


                        </div>
                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                            style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                            data-bg-position="left top">


                            <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                data-grid-type="sm" data-widget="row" data-spacing="aaaa" style=""
                                data-bg-position="left top">


                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
                                            style="" data-widget="row.column" data-container="container"
                                            data-spacing="aala" data-bg-position="left top">
                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small"
                                                data-widget="text" data-preset="default" data-spacing="asas"
                                                data-animation="">
                                            </div>
                                            <div class="form-row m-b-55">

                                                <div class="value">
                                                    <div class="row row-space">

                                                        <div class="input-group-desc">

                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="asas" data-animation=""
                                                                data-draggable-disabled="">
                                                                <form method="POST" action="/login/">
                                                                    {% csrf_token %}
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_261">Email</p>
                                                                    <p class="moto-text_261"><br></p>
                                                                    <p class="moto-text_186"><input
                                                                            class="input--style-5" type="text"
                                                                            name="email" id="email"><br></p>
                                                                    </p>
                                                                </div>
                                                                <div data-widget-id="wid_1555318877_nokf3ahaj"
                                                                    class="moto-widget moto-widget-divider moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                                    data-widget="divider_horizontal" data-preset="2">
                                                                    <hr class="moto-widget-divider-line"
                                                                        style="max-width:100%;width:60px;">

                                                                </div>

                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_261">Password:</p>
                                                                    <p class="moto-text_261">&nbsp;</p>
                                                                    <p class="moto-text_186"><input
                                                                            class="input--style-5" type="Password"
                                                                            name="password" id="password"></p>
                                                                </div>
                                                                <div data-widget-id="wid_1555318877_nokf3ahaj"
                                                                    class="moto-widget moto-widget-divider moto-preset-2 moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                                    data-widget="divider_horizontal" data-preset="2">
                                                                    <hr class="moto-widget-divider-line"
                                                                        style="max-width:100%;width:60px;">

                                                                </div>

                                                                <div class="moto-widget-contact_form-buttons">

                                                                    <div class="moto-widget moto-widget-button moto-preset-default moto-align-left"
                                                                        data-preset="default" data-align="left">
                                                                        <button type="submit"
                                                                            class="moto-widget-button-link moto-size-medium"
                                                                            data-size="medium"><span
                                                                                class="fa moto-widget-theme-icon"></span><span
                                                                                class="moto-widget-button-label">Login</span></button>
                                                                    </div>

                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
{% endblock %}